
.header{
    display: flex;
    align-items: center;
    color: black;
    background-color: #f8cf8d;
    justify-content: space-between;

    &__navigation{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
